# ===== NSS / Wired only =====

# Memory profile (IPQ807x)
CONFIG_IPQ_MEM_PROFILE_256=y
CONFIG_NSS_MEM_PROFILE_HIGH=y

# NSS firmware
CONFIG_NSS_FIRMWARE_VERSION_11_4=y

# NSS wired acceleration
CONFIG_PACKAGE_kmod-qca-mcs=y

# Kernel network optimization
CONFIG_KERNEL_SKB_RECYCLER=y
CONFIG_KERNEL_SKB_RECYCLER_MULTI_CPU=y
